/* global */
body, ol, ul, li, dl, dd, dt, table, tr, td, div, p, img, h1, h2, h3, h4, h5, h6, i, var, em, a, input {
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft yahei", Simsun, Arial;
    font-size: 14px;
    color: #333;
}
html, body {
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 14px;
}
a, a:hover, a:active {
	text-decoration: none;
}
[class^="icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
}
.main-content {
	min-height: 760px;
}
.main-title {
	line-height: 40px;
	margin: 10px 0;
}
.yo-btns {
	margin: 15px 0;
}
.yo-table {
	font-size: 12px;
}
.yo-table thead th {
	text-align: center;
	color: #3685d3;
}
.yo-table .operation a {
	color: #3685d3;
}

/* bootstrap复写 */
.btn, .form-control, .input-group-addon, .modal-content {
	border-radius: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}

/* tools */
.absol {
	position: absolute;
}
.rela {
	position: relative;
}

/* header */
.navbar {
	margin-bottom: 0;
	width: 100%;
	min-width: 1000px;
	height: 50px;
	background: #1b242f;
	border: none;
	border-radius: 0px;
}
.navbar-header .logo {
	width: 120px;
	height: 50px;
	background: url(../img/panel-logo.png) 0 center no-repeat;
}
.navbar-header .version {
	color: #b6c4d4;
	line-height:65px;
	text-indent: -12px;
	font-size: 12px;
}
.navbar-header .side-open {
	width: 16px;
	height: 50px;
	background: url(../img/panel-openli.png) 0 center no-repeat;
	margin-left: 24px;
}
.navbar-header .other-links {
	color: #b6c4d4;
	line-height: 50px;
	padding: 0 20px;
	cursor: pointer;
	display: relative;
}
.other-links:hover {
	background-color: #414d69;
}

.other-links > div {
	display: none;
    top: 50px;
	left: 205px;
	z-index: 100;
	background-color: #fff;
	border: 1px solid #b6c4d4;
	border-top: 0;
	width: 129px;
	text-align: center;
}
.other-links > div > a {
	display: block;
	line-height: 30px;
}
.other-links:hover > div {
	display: block;
}
/* sidebar */
.sidebar {
	width: 190px;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #262f3d;
}
.sidebar .nav-pills > li > a {
	border-radius: 0;
	color: #b7c6d7;
}
.sidebar .nav-pills > li > a > span {
	padding-left: 15px;
}
.sidebar .nav-stacked>li+li {
	margin-top: 0;
}
.sidebar .nav-pills>li.active>a,.sidebar .nav-pills>li.active>a:focus,.sidebar .nav-pills>li.active>a:hover,
.sidebar .nav>li>a:focus,.sidebar .nav>li>a:hover {
	background-color: #414d69;
	color: #fff;
}
.icon-yo-nav {
	width: 26px;
	height: 26px;
	background-image: url(../img/nav.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}
.yo-home {
	background-position: 0 0;
}
.active .yo-home {
	background-position: -26px 0;
}
.yo-host {
	background-position: 0 -26px;
}
.active .yo-host {
	background-position: -26px -26px;
}
.yo-disk {
	background-position: 0 -52px;
}
.active .yo-disk {
	background-position: -26px -52px;
}
.yo-load {
	background-position: 0 -78px;
}
.active .yo-load {
	background-position: -26px -78px;
}
.yo-db {
	background-position: 0 -104px;
}
.active .yo-db {
	background-position: -26px -104px;
}
.yo-memory {
	background-position: 0 -130px;
}
.active .yo-memory {
	background-position: -26px -130px;
}
.yo-protection {
	background-position: 0 -156px;
}
.active .yo-protection {
	background-position: -26px -156px;
}
.yo-cdn {
	background-position: 0 -182px;
}
.active .yo-cdn {
	background-position: -26px -182px;
}
.yo-personal {
	background-position: 0 -208px;
}
.active .yo-personal {
	background-position: -26px -208px;
}
.yo-paylist {
	background-position: 0 -234px;
}
.active .yo-paylist {
	background-position: -26px -234px;
}
.yo-lync {
	background-position: 0 -260px;
}
a:hover .yo-lync {
	background-position: -26px -260px;
}
.yo-phone {
	background-position: 0 -286px;
}
a:hover .yo-phone {
	background-position: -26px -286px;
}
.sidebar-bottom {
	width: 100%;
	bottom: 0;
}
.sidebar-bottom > a {
	width: 94.5px;
	height: 40px;
	line-height: 40px;
	border-top: solid 1px #5a6279;
}
.sidebar-bottom > a:first-child {
	border-right: solid 1px #5a6279;
}
.sidebar-bottom > a.small {
	width: 100%;
}
.sidebar-bottom > a.small:first-child {
	border-right-width: 0;
}
/* right content */
.right-content {
	margin-left: 190px;
}